<div id="login">
    <form class="card" action="/cadastro" method="POST">
        <div class="card-content-area">
            <label for="name">Nome:</label>
            <input type="text" name="name" />
        </div>
        <div class="card-content-area">
            <label for="email" >E-mail:</label>
            <input type="email"name="email" />
        </div>
        <div class="card-content-area">
            <label for="user_name" >Nome de Usuario:</label>
            <input type="text"name="user_name">
        </div>
        <div class="card-content-area">
            <label for="password">Senha:</label>
            <input type="password" name="password">
        </div>
        <div class="card-footer">
            <button type="submit" class="submit"> Cadastrar</button>
        </div>
    </form>
</div>