    <h1>Clientes Cadastrados:</h1>
<div class="card_time">
    {{#each clientes}}
        <div style="color:#fff">
            {{this.id}} - <span>{{this.name}}</span> - {{this.email}} email
        </div>
    {{/each}}
    
    <div class="card-footer">
        <a class="submit" href="/agendarHorario">Agendar Horário</a>
    </div>
</div>